<div ng-controller="ExamController as ctrl">
    <table class="table table-striped" style="width: 80%">
        <tr>
            <th>Name</th>
            <th ng-repeat="x in courses">{{x.courseName}}</th>
            <th>Average</th>
        </tr>
        <tr ng-repeat="x in students">
            <td>{{x.name}}</td>
            <td>{{x.grades[0].grade}}</td>
            <td>{{x.grades[1].grade}}</td>
            <td>{{x.grades[2].grade}}</td>
            <td>{{x | averagescore}}</td>
            </tr></table></div>
